<div>
   <button (click)="CategorieData();">  get Categorie data</button>
</div>

<hr>

<div>
<input type="text" [(ngModel)]="categorieID"   placeholder="CategorieID">
<button (click)="DeleteCategorie();">  Delete CategorieID  data</button>
<span>{{categorieID}}</span>
</div>

<hr>

<div>
    <input type="text" [(ngModel)]="catnom"    placeholder="nomcategorie">
    <button (click)="AddCategorie();">  ADD Categorie  data</button>
<!-- 
    <span>nomCategorie   : <p  style="color: #1b75f3"> {{nomcategorie}}</p>   </span>  -->

<!--     <span >Array categorieModel  : <p style="color: rgb(97, 225, 97)"> {{categorieModel.nomCategorie}}</p> </span> -->
    </div>
