<div>
  <button (click)="CategorieData();">  get Categorie data</button>
</div>

<hr>

<div>
  <input type="text" [(ngModel)]="DeletedcategorieID"   placeholder="Deleted categorie ID">
  <button (click)="DeleteCategorie();">  Delete CategorieID  data</button>
  <span>{{DeletedcategorieID}}</span>
</div>

<hr>

<div>
  <input type="text" [(ngModel)]="AddCategorieNom"    placeholder="Add Categorie  Nom">
  <button (click)="AddCategorie();">  ADD Categorie  data</button>
</div>

<hr>

<div>
<input type="text" [(ngModel)]="UpdatedCategorieNom"   placeholder="Updated categorie Nom">
<input type="number" [(ngModel)]="UpdatedCategorieID"   placeholder="Updated categorie  ID">
<button (click)="UpdateCategorie();">  Updated CategorieID  data</button>
<span>{{UpdatedCategorieID}}  &  {{UpdatedCategorieNom}}</span>
</div>

<hr>
