
<div class="main-login main-center">

  <form #prodform="ngForm">

    <div class="form-group">
      <label for="designation" class="cols-sm-2 control-label">Designation </label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input type="text" class="form-control" [(ngModel)]="designationProduit" name="designation" required id="designation"  placeholder="designation ..."/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="prix" class="cols-sm-2 control-label">Prix</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input type="number" class="form-control"  [(ngModel)]="prixProduit" name="prix" id="prix" required placeholder="Prix ..."/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="quantite" class="cols-sm-2 control-label">Quantite</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input type="number" class="form-control"  [(ngModel)]="quantiteProduit" name="quantite" id="quantite" required  placeholder="Quantite ..."/>
        </div>
      </div>
    </div>

    <div class="form-group " style="color: black;">

        <label for="quantite" class="cols-sm-2 control-label">Categorie :</label>
          <select class="form-control form-control-lg" (change)="getid($event)"  >
            <option disabled hidden [value]="selectUndefinedOptionValue">-- select --</option>
            <option  *ngFor="let catids of categories"  value="{{catids.categorieID}}"  >{{catids.nomCategorie}}</option>
          </select>

    </div>


    <div class="form-group ">
    <div class="  col-sm-8">
        <button type="submit" (click)="addproduit();" id="button" class="btn btn-success btn-lg btn-block ">Submit</button>
    </div>
    <div class=" col-sm-4 ">
      <button type="button"  (click)="resetfeilds();"  id="button" class="btn btn-secondary btn-lg btn-block ">reset </button>
    </div>
  </div>


  </form>
</div>

