<!-- <div>
  <button (click)="ProduitData();">  get Produit data</button>
</div>

<hr>
<h1>DELETE Produit Section</h1>
<div>
  <input type="text" [(ngModel)]="DeletedProduitID"   placeholder="Deleted categorie ID">
  <button (click)="DeleteProduit();">  Delete CategorieID  data</button>
  <span>{{DeletedcategorieID}}</span>
</div>

<hr>

<div>
  <h1>ADD Produit Section</h1>
  <input type="text" [(ngModel)]="designationProduit"    placeholder="designationProduit">
  <input type="number" [(ngModel)]="prixProduit"    placeholder="prixProduit">
  <input type="number" [(ngModel)]="quantiteProduit"    placeholder="quantiteProduit">

  <p>Elément sélectionné : {{selectedCategorieId}}</p>
  <select [(ngModel)] ="selectedCategorieId"  >
    <option disabled hidden [value]="selectUndefinedOptionValue">-- select --</option>
    <option  *ngFor="let catids of categoriesID"  value="{{catids.categoriesID}}"  >{{catids.categoriesID}}</option>
  </select>



  <button (click)="AddProduit();">  ADD Produit  data</button>
</div>

<hr>
<h1>UPDATE Produit Section</h1>
<div>
  <input type="text" [(ngModel)]="UpdatedProduitNom"   placeholder="Updated Produit Nom">
  <input type="number" [(ngModel)]="UpdatedProduitID"   placeholder="Updated Produit  ID">
  <button (click)="UpdateProduit();">  Updated Produit  data</button>
  <span>{{UpdatedCategorieID}}  &  {{UpdatedCategorieNom}}</span> -
</div>

<hr>
-->

<!-- <div>
  <button (click)="CategorieData();">  get Categorie data</button>
</div>

<hr>

<div>
  <input type="text" [(ngModel)]="DeletedcategorieID"   placeholder="Deleted categorie ID">
  <button (click)="DeleteCategorie();">  Delete CategorieID  data</button>
  <span>{{DeletedcategorieID}}</span>
</div>

<hr>

<div>
  <input type="text" [(ngModel)]="AddCategorieNom"    placeholder="Add Categorie  Nom">
  <button (click)="AddCategorie();">  ADD Categorie  data</button>
</div>

<hr>

<div>
  <input type="text" [(ngModel)]="UpdatedCategorieNom"   placeholder="Updated categorie Nom">
  <input type="number" [(ngModel)]="UpdatedCategorieID"   placeholder="Updated categorie  ID">
  <button (click)="UpdateCategorie();">  Updated CategorieID  data</button>
  <span>{{UpdatedCategorieID}}  &  {{UpdatedCategorieNom}}</span>
</div>

<hr>
-->



<!-- ************************************************************************************************ -->
<!-- ================================================================================ -->


<div class="container">
  <div> <h4 class="jumbotron " style="text-align: center;"> Produit <b>Details</b></h4></div>

  <div class="row">




<div class="row">
    <div>
      <button   (click)="showadd();" class="btn btn-success pull-right" style="margin: 7px 30px; padding: 7px 20px;">Ajouter Produit</button>
    </div>

    <div class="col-md-12" >
      <table class="table table-hover">
        <tr>
          <th >Produit ID</th>
          <th>Designation</th>
          <th >Prix</th>
          <th >Quantite</th>
          <th>categorie ID</th>
          <th>Actions </th>
        </tr>

        <tr>
          <td >...</td>
          <td >...</td>
          <td >...</td>
          <td >...</td>
          <td >...</td>
          <td >
            <a  (click)="showupdate();" class="btn" ><i class="fa fa-pencil-square-o"></i></a>
            <a    class="btn text-danger" (click)="onDelete();"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>

    <div class="row">
        <div >
            <router-outlet>  </router-outlet>

        </div>
      </div>


  </div><!-- end of row -->

</div><!-- end of container -->

