<div class="container" >
  <div> <h4 class="jumbotron " style="text-align: center;"> Produit <b>Details</b></h4></div>

  <div class="row">




<div class="row"   [hidden]="check">
    <div>
      <button   (click)="showadd();" class="btn btn-success pull-right" style="margin: 7px 30px; padding: 7px 20px;">Ajouter Produit</button>
    </div>

    <div class="col-md-12" >
      <table class="table table-hover">
        <tr>
          <th >Produit ID</th>
          <th>Designation</th>
          <th >Prix</th>
          <th >Quantite</th>
          <th>Actions </th>
        </tr>

        <tr *ngFor="let prod of produits" >
          <td >{{prod.produitID}}</td>
          <td >{{prod.designation}}</td>
          <td >{{prod.prix}}</td>
          <td >{{prod.quantite}}</td>


          <td >
            <a   routerLink="./update"    (click)="UpdateProduit(prod);"     class="btn" name="btnupdate" id="btnupdate" >           <i class="fa fa-pencil-square-o">    </i>          </a>
            <a   (click)="DeleteProduit(prod.produitID);"      class="btn text-danger">                <i class="fa fa-trash-o">                     </i>          </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

    <div class="row">
        <div >
            <router-outlet>  </router-outlet>

        </div>
      </div>


  </div><!-- end of row -->

</div><!-- end of container -->

