<div class="height">

<!-- here the  Panel which compose  of Row Container -->
<div class="col-md-8 col-md-offset-2">

    <div class="text-center" >


      <div class="panel panel-default">

        <div class="panel-heading" style="font-weight: bold;">Products</div>

        <div class="panel-body" style="padding: 50px;">    <p class="contentPanelStyle">  In this Component we   Consume   Products   Web Api  </p></div>

        <div class="panel-footer">  <a  [routerLink]="['./../produit']"  class="btn btn-primary ">Go To Products</a> </div>


      </div>

    </div>

    </div>
<!-- End of  second Panel -->

  </div>
