<div class="height">
<!-- here the First Panel which compose of half of Row Container -->
  <div class="row">

<div class="col-md-4 col-md-offset-1">
    <div class="text-center" >

      <div class="panel panel-default">

        <div class="panel-heading" style="font-weight: bold;">Categories</div>

        <div class="panel-body" style="padding: 50px;">    <p class="contentPanelStyle">  In this Component we Consume Categories Web Api  </p></div>

        <div class="panel-footer">  <a [routerLink]="['./../categorie']" class="btn btn-success ">Go To Categories</a> </div>


      </div>

    </div>

</div>
<!-- End of  First Panel -->

<!-- here the second Panel which compose of half of Row Container -->
<div class="col-md-4 col-md-offset-1">

    <div class="text-center" >


      <div class="panel panel-default">

        <div class="panel-heading" style="font-weight: bold;">Products</div>

        <div class="panel-body" style="padding: 50px;">    <p class="contentPanelStyle">  In this Component we Consume Products Web Api  </p></div>

        <div class="panel-footer">  <a  [routerLink]="['./../produit']"  class="btn btn-primary ">Go To Products</a> </div>


      </div>

    </div>

    </div>
<!-- End of  second Panel -->

  </div>
